.clearfix {
	clear: both;
}

body {
	background: darkslateblue;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#container {
	width: 80%;
	margin: 0px auto;
	border: 2px solid black;
}

header {
	background: lightgray;
	min-height: 100px;
	min-width: 100%;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

nav {
	background: lightpink;
	height: 60px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav ul li {
	float: left;
	list-style: none;
	margin: 20px;
	line-height: 10px;
}

nav ul li a {
	text-decoration: none;
}

#content {
	float: left;
	width: 80%;
	min-height: calc(500px - 40px);
	background: darkslategrey;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.article {
	color: powderblue;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-floating textarea {
	float: left;
	width: 50%;
	min-height: 200px;
}

.col-md-3 {
	width: 25%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.table {
	width: 70%;
}

aside {
	float: left;
	width: 20%;
	min-height: calc(500px - 40px);
	background: lemonchiffon;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
	background: rgb(15, 15, 15);
	color: lightpink;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
