.clearfix {
	clear: both;
}

body {
	background: rgb(236, 149, 236);
	font-family: Arial, Helvetica, sans-serif;
}

#container {
	width: 90%;
	min-height: 90%;
	margin: 0px auto;
	margin-top: 5%;
	border: 1px solid black;
}

header {
	background: rgba(238, 85, 238, 0.568);
	min-height: 100px;
	min-width: 100%;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.article {
	float: left;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
}

#content {
	float: left;
	width: 100%;
	min-height: 500px;
	background: lightblue;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#table1 {
	margin-top: 10px;
}

footer {
	background-color: white;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
